.createBox {
  width: 100%;
  height: 100%;
}

.createBox h1 {
  margin-top: 0px;
}

.createMsgBox {
  width: 98%;
  height: 100%;
  padding: 0 1%;
  display: flex;
  align-items: center;
  flex-direction: column
}

.outerBox {
  width: 34%;
  height: 4%;
  margin-bottom: 2%
}

.selectBox {
  width: 34%;
  height: 40%;
  margin-bottom: 2%
}

.inputBox {
  width: 40%;
  height: 100%;
  overflow: scroll;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  background: white;
  display: flex;
  flex-direction: column;
}

.buttonBox {
  width: 34%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.backButton {
  width: 16%;
  height: 100%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  border-radius: 8px;
}

.createButton {
  width: 16%;
  height: 100%;
  background: #32CD32;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.backButton:hover {
  cursor: pointer;
}

.createButton:hover {
  cursor: pointer;
}
